<% if(success && success.length){ %> 
    <div class="alert alert-success my-3 alert-dismissible fade show col-6 offset-3" role="alert">
        <%= success %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>



<!-- success.length : because each time "success" will be there because "success" is an empty array -->




<% if(error && error.length){ %> 
    <div class="alert alert-danger my-3 alert-dismissible fade show col-6 offset-3" role="alert">
        <%= error %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>