<% layout('/layouts/boilerplate') %>

    <div class="row my-3">
        <div class="alert alert-danger col-6 offset-3" role="alert"> 
            <p><%= err.statusCode %> : <%= err.message %></p>    
        </div>
    </div>